# markdown basics
## markdown basics
### markdown basics
#### markdown basics

.point1(bold)
.point2(ltalic)
.point3(bold &ltlic)


.Normal text
.sublist1
.sublist2



        1.point1
        2.point2 
         




        adding links to markdown

        .google site..  https://www.google.com/   
        .msn site..https://wwwmns.com/
        .[option 1
        . google site..https://www.google.com/

### phython basics
* python version 3.7
* funtional programming
* object oriendted programming
* scripting programming

In [1]:
print("Hello,Gitam")
print("Hyderabad")

Hello,Gitam
Hyderabad

In [2]:
print("Hello,Gitam",")
print("Hyderabad",end=")

SyntaxError: EOL while scanning string literal (<ipython-input-2-c9eeb61252ae>, line 1)

In [3]:
n1=100 # single variable assignment
a=b=c=20 # multi variable assignment of the same value
a1,b1,c1,=111,222,333 # multi variable assignment with
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [4]:
a=100;
s1="python"
s2="p"
f1="3.3"
print(a);
print(s1);
print(s2);
print(f1);
print(type(a));
print(type(s1));
print(type(s2));
print(type(f1));

100
python
p
3.3
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
n1=1
print(n1)
print(n1,n1)
print(n1,n1,n1)

1
1 1
1 1 1

In [6]:
a=100;
s1="python"
s2='p'
s3=19.1
print(a,s1,s2,s3)
print(type(a),type(s1),type(s2),type(s3))

100 python p 19.1
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [7]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [1]:
n1=5
n2=6
a=b=c=d=300
e=0
print(type(ni)

SyntaxError: unexpected EOF while parsing (<ipython-input-1-b2b3896adbe5>, line 5)

In [2]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [3]:
# length of a string
a1=1234
print(len(str(a1)))

4

In [5]:
# reading a value-input function
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namevgvgv
vgvgv
<class 'str'>

In [22]:
# to check given number is even or odd
n = int(input("enter a number"))
if n % 2 == 0:
    print("even")
    
else:
     print("odd")

enter a number14
even

In [23]:
# reading a value-input function
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namepskp
pskp
<class 'str'>

In [24]:
n = int(input("enter a number"))
if n % 2 == 0:
    print("even")
else:
     print("odd")

enter a number26
even

In [25]:
# want a number as input
n1= int(input("enter a number"))
print(n1,type(n1))

enter a number19
19 <class 'int'>

## operators
*operator is a symbols used to perform specific operations

In [26]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [ ]:
precedence of the arth operators
.perenthesis
.power
.division
.multiplication
.addition
.sub\

In [27]:
x=1+2**3/4+5
print(x)

8.0

In [29]:
Relation operators
== 1[ greater(>).less than(< ).less than and equals to(<=).greater than and equals to(=>)

SyntaxError: invalid syntax (<ipython-input-29-730c91793b7e>, line 1)

##